<div class="version_wrapper">

<div class="left_column">
	
	<div class="news">
				<h2></h2>
				<% @news.each do |n| %>
						<div class="news_post">
							<h6><%= n.updated_at.strftime("%B %d, %Y")   %></h6>
							<p>
		<%= n.contenxt %>
															</p>
							
						</div>
					<% end %>
		
				
	</div>
					
</div>
	<div class="right_column">
	
	
			<% @posts.each_index do |p| %>  

		<%= render :partial => 'layouts/component', :locals => { :@item  => @posts[p], :side => ''} %>

			<% end %>
			
		</div>
		
	</div>
</div>
