.version_wrapper
  .category_filter
    .categories
      %h2
      .category_list
        %ul
          - @categories.each do |cat|
            %li
              %a{:href => "#"}= link_to cat.name, {:controller => 'posts', :action => 'cat', :id => cat.id}
    .keywords{:onclick => "toggleTags(this)"}
      %h2
      %a{:href => "#"}
      #tagdd.dropdown{:style => "display:none"}
        .list
          %ul
            - @tags.each do |tag|
              %li= link_to tag.name, {:controller => 'posts', :action => 'tag', :id => tag.name}
