.version_wrapper
  -#= render :partial => 'layouts/categoryfilter'
.version_module_closed_wrapper
  - @posts.each_with_index do |mod, i|
    -#
    = render :partial => 'layouts/component', :locals => {:position => i, :item  => mod.item, :side => i.to_s}
#overlay.version_module_expanded_wrapper{:style => "display:none;"}
  #ajaxtarget.version_module_expanded

= paginate @posts

= content_for :jquery do
  :plain
    $('a.module').on('ajax:success', function(event, data, status, xhr) {
      var destination = $(this).parent('.version_module_closed').offset();
      $("#ajaxtarget").html(xhr.responseText);
      
      // check if right side will be offscreen
      // var rightborder = $('body').offset().left + 1050;
      
      $("#overlay").css({top: destination.top, left: destination.left - $('body').offset().left - 10 });
      
      $("#overlay").fadeIn();
      if ($('#overlay').is(':off-right')) {
        $("#overlay").css({top: destination.top, left: destination.left - $('body').offset().left - 350 });
      }
      scrollTo('#overlay');
    });
  