@media only screen and (min-width : 1370px) {
   
   .version_module_closed_wrapper { 
       width: 1370px;
     }
   .version_wrapper { 
     width: 1370px;
     .category_filter {
       margin: 0px 20px;
       width: 1325px;
       .dropdown {
         width: 1325px;

       }
     }
     .left_column {
       width: 1020px;
     }
     .right_column {
       display: block;
     }
   }
   .version_header {
     width: 1370px;
     .logo {
       margin-left: 20px;
     }
     .navigation {
       width: 1327px;
       float: left;
       margin-left: 20px;
       ul {
         width: 336px;
         float: right;
         li {
           display: inline;
         }
       }
     }
   }
   .slick-carousel {
     width: 658px;
     .slide {
       img {
         max-width: 658px;
         height: auto;
       }
     }
   }
}

@media only screen and (max-width : 1369px) and (min-width: 1036px) {   

  .version_module_closed_wrapper { 
      width: 1035px;
    }
  .version_wrapper { 
    width: 1035px;

    .category_filter {
      width: 980px;
      margin: 0px 20px;
      .dropdown {
        width: 980px;

      }
    }
    .left_column {
      width: 686px;
    }
    .right_column {
      display: block;
    }
  }
  .version_header {
    width: 1035px;
    .logo {
      margin-left: 20px;
    }
    .navigation {
      width: 980px;
      float: left;
      margin-left: 20px;
      ul {
        float: right;
        width: 336px;
        li {
          display: inline;
        }
      }
    }
  }
  .slick-carousel {
    width: 658px;
    .slide {
      img {
        max-width: 658px;
        height: auto;
      }
    }
  }
  
}

@media only screen and (max-width : 1034px) and (min-width: 715px) {   
  .version_module_closed_wrapper { 
      width: 715px;
    }
  .version_wrapper { 
    width: 715px;
    .category_filter {
      width: 645px;
      margin: 0px 20px;
      .dropdown {
        width: 645px;

      }
    }
    .left_column {
      width: 366px;
    }
    .right_column {
      display: block;
    }
  }
  .version_header {
    width: 715px;
    .logo {
      margin-left: 20px;
    }
    .navigation {
      width: 645px;
      float: left;
      margin-left: 20px;
      ul {
        width: 336px;
      }
    }
  }
  .slick-carousel {
    width: 645px;
    .slide {
      img {
        max-width: 645px;
        height: auto;
      }
    }
  }
   
 
} 

@media only screen and (max-width : 714px) and (min-width: 480px) {   
  
  .version_header {
    width: 460px;
  }
  .version_module_expanded_wrapper {
    width: 460px;
    margin-left: 10px;
    padding-bottom: 10px;
    background-image: url("/images/expanded_bottom_medium.png");
  }
  .version_module_closed_wrapper {
    float: none;  
    width: 460px;
    margin-top: 100px;
    
    .version_module_closed {
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
  }
  .version_wrapper { 
    width: 460px;
    .category_filter {
      background-image: url("/images/catfilter_bg_small.png");
      .categories {
        width: 80%;
      }
      .dropdown {

      }
    }
    
    .right_column {
      display: none;
    }
    .left_column {
      width: 100%;
      border: none;
    }
  }
  
  #overlay {
    position: absolute;

 
    #ajaxtarget {
      left: 0px;
    }
  }
  .version_module_expanded {
    width: 460px;
    position: relative;
    left: -50%;
    background-image: url("/images/expanded_bg_medium.png");
    background-repeat: repeat-y;
  	background-position:center-top;


    .top_half {

      margin-left: 0;
      
      .top {
        width: 452px;
        margin: 0px 0px 0px 4px;
        .logo {
          min-height: 100px;
        }
      }
      
      .content {
        width: 456px;
        margin: -60px 0px 0px 4px;
        padding: 20px;
        .title {
          width: 394px;
          ul {
            li {
//              float: none;
            }
          }
        }
      }
    }
    
    .bottom_half {
      width: 460px;

      padding: 0px;
      .text_entry, .keywords, .share {
        width: 420px;

      }
      .slick-carousel {
        width: 420px;
        .slide {
          img {
            max-width: 420px;
            height: auto;
          }
        }
      }
      .video_entry {
        width: 420px;
        min-height: 0px;
      }
    }
  }
  footer {
    .support {
      width: 100%;
    }
  }
}  
  

